*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* header style */
.header{
    background-image: url(../images/banner/banner2.png);
    height: 809px;
}
.header-content{
    padding: 210px 150px 160px 700px;
    text-align: right;
}
.header-title{
    font-size: 60px;
    line-height: 76px;
    margin-bottom: 24px ;
}

.header-description{
color: #444343;
margin-bottom: 32px;
}

.header-btn {
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #F15B22;
    border-radius: 5px;
    border: 0;
}
.header-btn:hover{
    background-color: #FFFFFF;
    color: #F15B22;
    border: 2px solid #F15B22;
}
