*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* header style */
.header{
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    height: 809px;
    background-size: cover;
    
}
.header-content{
    padding: 210px 250px 165px 875px;
    text-align: right;
}
.header-title{
    font-size: 60px;
    line-height: 76px;
    margin-bottom: 24px ;
    color: #151414;
}

.header-description{
    font-weight: 400;
   font-size: 16px;
   color: #444343;
   margin-bottom: 32px;
   line-height: 26px;
}

.header-btn {
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #F15B22;
    border-radius: 5px;
    border: 0;
}
.header-btn:hover{
    background-color: #FFFFFF;
    color: #F15B22;
    border: 2px solid #F15B22;
}


/* main section style */

/* main{
    width: 70%;
    margin: 0 auto;
} */

/* failures section style */

section{
    width: 70%;
    margin: 0 auto;
    margin-top: 130px;
}

.failures-section{
    display: flex;
    gap: 90px;
}
.failures-img{
    width: 569px;
    height: 720px;
    
}

.failures-container{
    padding-top: 250px ;
    
}

.failures-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.failures-description{
    padding-right: 50px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 26px;
}

.failures-lists{
    list-style: none;
    padding: 0;
}

.failures-list{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;

}  

.right-sign{
    width: 24px;
    height: 18px;
    left: 862px;
    top: 1417px;
    align-items: center;
    padding: 2px 6px 0 0;
    background-color: white;
}

/* plans section style */

.my-plans{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
    margin-bottom: 38px;
}

.plans-container{
    display: flex;
    justify-content: space-between;
}

.plans-content{
    text-align: center;
}

.plans-icon{
    margin-bottom: 24px;
}
.plans-title{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-bottom: 22px;
}

.plans-pera{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* resolution style */


.resolution-section{
    text-align: center;
}
.my-resolution{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.resolution-des{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding: 0 200px;
    margin-bottom: 45px;
}

.resolution-container{
    display: flex;
    gap: 25px;
}

.resolution-content{
    text-align: center;
    box-shadow: 10px 10px 20px gray;
    padding: 50px 20px 15px;
}

.resol-title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 24px;
}

.resol-pera{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.resol-img{
    width: 40%;
    margin-bottom: 20px;
}




/* contact section */

 .call-section{
    height: 300px;
    border-radius: 8px;
    background-image:url(../images/gradient2.png), url(../images/watch.png);
    background-repeat: no-repeat;
    align-items: center;
}

.call-container{
    padding: 59px 500px 59px 64px ;
}

.cl-title{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 24px;
    
}

.call-btn{
    width: 160px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    border: 0;
}

.call-btn:hover{
    color: #FFFFFF;
    background-color: #F15B22;
    border: 3px solid #FFFFFF;
}

/* footer-section */

.footer{
    background-color: #151414;
    height: 577px;
    margin-top: 0;
}

.footer-container{
    display: flex;
    gap: 330px;
    /* color: #F8F8F8; */
    padding-top: 130px;
}

.footer-title{
    font-weight: 700;
   font-size: 45px;
   margin-bottom: 16px;
   color: #F8F8F8;
}

.footer-des{
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 26px;
    padding-right: 150px;
    margin-bottom: 24px;
}
.email-info{
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin-bottom: 16px;
}

.num-info{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 70px;
}
.footer-container a{
    text-decoration: none;
}
.footer-icon{
    margin-right: 15px;
}

.footer-subs{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 31px;
}

input[type="email"]{
    width: 325px;
    height: 64px;
    border-radius: 5px;
    background-color: #151414;
    color: white;
    border: 1px solid white;
    padding-left: 25px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    color: #F3F3F3;
    margin-bottom: 16px;
}

.subs-btn{
    width: 170px;
    height: 64px;
    background-color: #FFFFFF;
    border-radius: 8px;
    color:#F15B22; ;
    font-weight: 600;
    font-size: 20px;
}

.subs-btn:hover{
    background-color: #F15B22;
    color: white;
    border: 3px solid white;
}

